
.imageButton
{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    opacity: 0.5;
}

.icon
{
    width: 30px;
    height: 30px;    
}

.imageButton:hover
{    
    opacity: 0.9;
    cursor: pointer;
}
