.outerContainer 
{
    position: absolute;
    width: 48px;
    height: 48px;    
    display: flex;
    flex-direction: column;    
    align-items: center;    
}

.up,
.down
{        
    width:24px;
    height:24px;
    display: flex;   
}

.up:hover,
.down:hover
{
    opacity: 1.0;
}

.arrowUpImage,
.arrowDownImage
{
    width:20px;
    opacity: 0.5;
}


.arrowUpImage:hover,
.arrowDownImage:hover
{
    opacity: 1.0;
}